<div id="topmost">
  <div id="logo"><h1><a href="#">Mutiyah Muritala</a></h1></div>
<div id="links">
  <a href="#projectSection">Projects</a>
  <!-- <a href="#">Experience</a> -->
  <a href="#contact">Contact</a>
  <a href="mailto:mutiyah.kem@gmail.com">Email</a>
  <a href="https://drive.google.com/file/d/18Yb_EkBv4Ucgh-J9N1saW9XXFMJ51_zb/view?usp=sharing" target="_blank">Resume</a>
</div>

</div>

<section id="about-me">
    <div id="image-section"><img [src]="myImage" alt=""></div>
    <div id="short-note">
      <h4>I am Mutiyah Muritala, a computer science graduate and a frontend developer.</h4> <br>
      <p>I started coding in 2018.  I am current learning mobile app developerment - Frontend.  I am fluent in HTML5, CSS3, JavaScript and bootstrap. I am currently learning Angular, Ionic and Firebase. 
      </p> <br><br>
      <h4>Web Technologies</h4>
      <p>HTML5 * CSS3 * JavaScript * Bootstrap * Firebase * Wordpress</p><br>
      <h4>Moble App Technologies</h4>
      <p>Angular * Cordova * App.js * Ionic </p>
      <br>
      <br>
      <p>This website was built using Angular</p>

    </div>
  </section>

<!-- hobbies section -->
<section id="hobbySection">
  <div id="hobbyWhen"> <h3>When I'm not coding, you can find me...</h3> </div>

<div id="hobbies">
  <div class="sub-hobby">
    <i class="fas fa-route"></i>
    <p>Travelling</p>
  </div>

  <div class="sub-hobby">
    <i class="fas fa-running"></i>
    <p>Workout</p>
  </div>

  <div class="sub-hobby">
    <i class="fas fa-graduation-cap"></i>
    <p>Learning </p>
  </div>
</div>
</section>

<!-- Project section -->
<section id="projectSection">
  <div id="projectSection-heading">
    <h1>Projects</h1>
  </div>
<div class="sub-projectSection">

  <div class="projectSection-content">
    <h2>Berbcornerpix Construction Limited</h2>
    <p>A construction company website that showcase the company's information, projects and their contacts. <br>
      It was developed using HTML5, CSS3, JavaScript, bootstrap, and Formspree to handle form submittions.
    </p>
  </div>

 <div class="projectSection-image"> <img [src]="project1" alt="">
    <a href="https://mutiyah.github.io/BCLTD/" target="_blank">VISIT</a>
</div>

</div>

<hr>

<div class="sub-projectSection mid">
  
 <div class="projectSection-image"> <img [src]="project2" alt="">

  <a href="https://mutiyah.github.io/firstLakeSide/" target="_blank">VISIT</a>
</div>

  <div class="projectSection-content">
    <h2>First Lakeside Limited</h2>
    <p>A construction company website that showcase the company's information, projects and their contacts. <br>
      It was developed using HTML5, CSS3, JavaScript, bootstrap, and Formspree to handle form submittions.
    </p>
  </div>

</div>

<hr>

<div class="sub-projectSection">

  <div class="projectSection-content">
    <h2>First Lakeside Limited</h2>
    <p>A construction company website that showcase the company's information, projects and their contacts. <br>
      It was developed using HTML5, CSS3, JavaScript, bootstrap, and Formspree to handle form submittions.
    </p>
  </div>

 <div class="projectSection-image"> <img [src]="project3" alt="">
  <br>
    <a href="https://mutiyah.github.io/BCLTD/" target="_blank">VISIT</a>
</div>

</div>
</section>

<!-- Contact section -->
<section id="contact">
  <div>
    <a href="https://github.com/Mutiyah"><i class="fab fa-github fa-3x"></i></a>
  </div>

  <div>
    <a href="https://www.linkedin.com/in/mutiyah-muritala-114392174/"><i class="fab fa-linkedin fa-3x"></i></a>
  </div>

  <div><a href="mailto:mutiyah.kem@gmail.com"><i class="fas fa-at fa-3x"></i></a></div>
</section>
<router-outlet></router-outlet>